Dictionary

In [28]:
%config IPCompleter.greedy=True

In [27]:
d = {'key1': 10,'key2': 25}
print("value in key1 is {value1}".format(value1 = d['key1']))

value in key1 is 10

In [1]:
d = {'k1':{'innerkey':[1,2,3]}}

In [5]:
d['k1']['innerkey'][1]

2

In [7]:
True

True

In [17]:
False

False

List:

In [10]:
my_list = [1,2,3]

In [19]:
my_list[0]

1

Tuples:

In [15]:
t=(1,2,3)

In [14]:
t[0]

1

In [22]:
my_list[0]

1

In [23]:
my_list[0]='new'

In [24]:
print(my_list[0])

new

In [25]:
print(t)

(1, 2, 3)

In [1]:
{1,2,3}

{1, 2, 3}

set - is a collection of unique elements

In [2]:
set([1,2,2,3,4,4,4,4,5,5,6,78,9,9,9,9,])

{1, 2, 3, 4, 5, 6, 9, 78}

if statements:

In [3]:
if 1<2:
    print('yes')

yes

In [5]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('Middle')
else:
     print('last')

Middle

make an object name seq:

In [8]:
seq = [1,2,3,4,5]

using for loop:

In [7]:
for item in seq:
    print(item)

1
2
3
4
5

While loop:

In [9]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [10]:
for x in seq:
    print(x)

1
2
3
4
5

In [11]:
range(0,5)

range(0, 5)

In [12]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List

In [17]:
x = [1,2,3,4]

In [19]:
out = []
for num in x:
    out.append(num**2)

In [20]:
print(out)

[1, 4, 9, 16]

In [21]:
out = [num**2 for num in x]

In [22]:
print(out)

[1, 4, 9, 16]

** is Exponentiation operator.
   Example;
    x = 2
    y = 5
    print(x ** y) # same as 2*2*2*2*2. 2 power of 5.

In [23]:
x = 2
y = 5
print(x ** y)

32

Functions:

In [26]:
def my_func(name):
    print('hello ' + name)

In [27]:
my_func('Jose')

hello Jose

default value in function:

In [2]:
def my_default_func(name = 'Default Name'):
    print('hello ' + name)

In [3]:
my_default_func()
my_default_func('Jose')

hello Default Name
hello Jose

function return value:

In [4]:
def square(num):
    """
    this is a docstring.
    can go multiple lines.
    this function squares a numbert.
    """
    return num**2

In [5]:
output = square(2)

In [13]:
output

4

In [14]:
print(output)

4

In [7]:
def times2(var):
    return var * 2

In [8]:
times2(5)

10

In [9]:
# map()

In [18]:
seq = [1,2,3,4,5]

In [ ]:
# list(map(times2, seq)) - takes times2 function, takes seq list
# end return function output inside of list.

In [20]:
testOutput = list(map(times2,seq))

In [21]:
print(testOutput)

[2, 4, 6, 8, 10]

In [22]:
for i in testOutput:
    print(i)

2
4
6
8
10

rewrite times2 function with lembda expretion.
       num - passing in, after : 
       what you need to return - num*2
lambda num: num*2

In [23]:
list(map(lambda num: num*2,seq))

[2, 4, 6, 8, 10]

filter() function is passing a lambda function
    and retunrs a boolion. Need to cast with a list

In [25]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

Methods

In [27]:
s = 'hello my name is Sam'

In [30]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

Dictionary

In [31]:
d = {'k1': 1, 'k2': 2}

check if something inside of list.

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x','w','r']

True

Tuple unpacking:

In [34]:
x = [(1,2), (3,4),(5,6)]

In [35]:
x[0]

(1, 2)

In [36]:
x[0][1]

2

In [37]:
for (item) in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [38]:
for (a,b) in x:
    print(a)

1
3
5

In [39]:
for (a,b) in x:
    print(b)

2
4
6

press shift + tab will open documentation.